@charset "UTF-8";
ul, li{
	color: white;
	outline-width: 0px;
	margin:0;
	padding:5px 1px 2px 5px;
	list-style: none;
	font-size: 15px;
}

li.boardSuper{
	font-weight: bold;
}

li.boardSub{
	font-weight: normal;
}

.menu.title{
	font-weight: bold;
}
.menu li:hover {
	background-color:#858AB6;
}
.menu-btn.boardSuper{
	color:green;
	display: inline-block;
	position: relative;
}
.menu-btn.boardSub>a{
	color: black;
	text-decoration: none;
	display:none; 
}
.menu li>ul{
	display:none;
	transition: display 1s;
}
.menu li:hover > ul {
	display:block;
	transition: display 1s;
}

.sidemenu{
	top:0;
	left:0;
	position: absolute;
	float: left;
    z-index: 1000;
    width: auto;
    height: 100%;
}

.aside-center{
	margin-left: auto;
	margin-right: auto;
}

.container-500 { width:500px; }

.v-align-center{
	vertical-align: middle;
}

.login-box a {
    color: #333399;
    text-decoration: none;
    display: inline;
}

.KH > * {
	position:relative;
}
