@charset "UTF-8";
ul, li{
	outline-width: 0px;
	margin:0;
	padding:0.2rem 0rem 0.2rem 0rem;
	list-style: none;
	font-size: 18px;
}

li.boardSuper{
	font-weight: bold;
}

li.boardSub{
	font-weight: normal;
}

.menu.title{
	font-weight: bold;
}
.menu li:hover {
	background-color:#858AB6;
}
.menu-btn.boardSuper{
	color:green;
	display: inline-block;
	position: relative;
}
.menu-btn.boardSub>a{
	color: black;
	text-decoration: none;
	display:none; 
}
.menu li>ul{
	display:none;
	transition: display 1s;
}
.menu li:hover > ul {
	display:block;
	transition: display 1s;
}

.sidemenu{
	position: fixed;
	float: left;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
	background-color: #9A9EC2;
    width: 200;
    height: auto;
}

.center{
	margin-left: auto;
	margin-right: auto;
}
.text-center{
	text-align: center;
}

.container-500 { width:500px; }

.v-align-center{
	vertical-align: middle;
}

.login-box a {
    color: #333399;
    text-decoration: none;
    display: inline;
}
